* {
  margin: 0;
  background-color: #000;
}

#jumbotron {
  background-color: #1c1c1c;
}

#jumbotron > #main {
  position: relative;
}

h1 {
  display: inline-block;
  margin-top: 70px;
  margin-left: 140px;
  font-size: 4em;
}

.longh2 {
  display: inline-block;
  margin-top: 70px;
  margin-left: 110px;
  font-size: 4em;
}

a {
  text-decoration: none;
  font-family: 'Pirata One', sans-serif;
  color: maroon;
}

h2 {
  text-decoration: none;
  font-family: 'Pirata One', sans-serif;
  color: maroon;
}

footer {
  width: 90%;
  height: 10px;
  margin: 0 auto;
  background-color: #1c1c1c;
  border-left: thick #bd9b21 double;
  border-right: thick #bd9b21 double;
}

#main {
  width: 90%;
  height: 800px;
  margin: 0 auto;
  background-color: #000;
  font-family: 'Pirata One', sans-serif;
  border-left: thick #bd9b21 double;
  border-right: thick #bd9b21 double;
}

.characterl {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 700px;
  bottom: 50px;
  width: 250px;
  height: 400px;
  z-index: 2;
}

.characterr {
  position: absolute;
  margin: auto;
  top: 0;
  left: 700px;
  right: 0;
  bottom: 50px;
  width: 250px;
  height: 400px;
  z-index: 2;
}

.dd-logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 180px;
  width: 500px;
  height: 200px;
}

.links-main {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  text-align: center;
  width: 700px;
  height: 30px;
}

.links-main p {
  font-size: 2em;
  color: gold;
}

#ruins {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #000;
  border-left: thick #bd9b21 double;
  border-right: thick #bd9b21 double;
}

#warrens {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #000;
  border-left: thick #bd9b21 double;
  border-right: thick #bd9b21 double;
}

#weald {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #000;
  border-left: thick #bd9b21 double;
  border-right: thick #bd9b21 double;
}

#cove {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #000;
  border-left: thick #bd9b21 double;
  border-right: thick #bd9b21 double;
}

#courtyard {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #000;
  border-left: thick #bd9b21 double;
  border-right: thick #bd9b21 double;
}

.button-box {
  margin-left: 20px;
  display: inline-block;
}

.button-box input {
  display: block;
  font-family: 'Cinzel Decorative';
}

.logo {
  display: block;
  margin-left: 80px;
}

.short {
  background-color: #88b04b;
}

.med {
  background-color: yellow;
}

.long {
  background-color: red;
}

.provisions-container {
  width: 320px;
  height: 150px;
  margin-left: 30px;
  margin-bottom: -30px;
  display: inline-block;
}

.provisions-container img {
  position: absolute;
  width: 320px;
  height: 150px;
  display: none;
}

.clear {
  background-color: lightblue;
  font-family: sans-serif;
}

.curios {
  position: absolute;
}

.curios table {
  position: absolute;
  left: 420px;
  bottom: 20px;
}

.curios td {
  border: 1px solid white;
}

.curios img {
  width: 60px;
  height: 56px;
  margin: auto;
}

.message {
  position: absolute;
  width: 60vw;
  height: 136px;
  font-size: 1.2em;
  color: white;
  font-family: 'Cinzel', serif;
  border: 2px gray outset;
  z-index: 2;
}

.links {
  padding-top: 20px;
  margin-left: 38%;
  font-family: 'Pirata One';
  font-size: 1em;
  color: maroon;
}

.msg-text {
  margin-top: -30px;
  margin-left: 160px;
  margin-bottom: 140px;
  font-family: 'Cinzel Decorative';
  color: #bd9b21;
}

ul {
  list-style-type: none;
  text-align: left;
  margin-top: 30px;
}

footer p {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
  font-family: sans-serif;
  color: #bf9f00;
}
