* {
  margin: 0;
  font-family: 'Creepster', sans-serif;
}

#jumbotron {
  background-color: #1c1c1c;
}

#jumbotron > #main {
  position: relative;
}

h1 {
  display: inline-block;
  margin-top: 70px;
  margin-left: 140px;
  font-size: 4em;
}

.longh1 {
  display: inline-block;
  margin-top: 70px;
  margin-left: 110px;
  font-size: 4em;
}

a,
h1 {
  text-decoration: none;
  color: maroon;
}

footer {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  background-color: #1c1c1c;
}

#main {
  width: 80%;
  height: 800px;
  margin: 0 auto;
  background-color: #000;
}

#main img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 180px;
  width: 500px;
  height: 200px;
}

.links-main {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  text-align: center;
  width: 400px;
  height: 30px;
}

.links-ruins,
.links-warrens,
.links-weald,
.links-cove,
.links-courtyard {
  position: relative;
  margin: auto;
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  text-align: center;
  width: 400px;
  height: 30px;
}

#ruins {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  background-color: #000;
}

#warrens {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  background-color: #000;
}

#weald {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  background-color: #000;
}

#cove {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  background-color: #000;
}

#courtyard {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  background-color: #000;
}

.logo {
  position: relative;
  top: 0;
  left: 110px;
  display: block;
  width: 200px;
  height: 120px;
}

.button-box {
  margin-left: 30px;
  display: inline-block;
}

.ruinsb,
.warrensb,
.wealdb,
.coveb,
.courtyardb {
  display: block;
}

.short {
  background-color: green;
}

.med {
  background-color: yellow;
}

.long {
  background-color: red;
}

.provisions-container {
  position: relative;
  top: 40px;
  margin-left: 30px;
  display: inline-block;
  width: 320px;
  height: 160px;
}

.provisions-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.clear {
  background-color: lightblue;
  font-family: sans-serif;
}

.curios {
  position: relative;
  bottom: 120px;
  left: 330px;
  display: block;
}

.curios table {
  position: absolute;
}

.curios td {
  border: 1px solid white;
}

.curios img {
  width: 50px;
  height: 50px;
  margin: auto;
}
