* {
  margin: 0;
  font-family: sans-serif;
}

#jumbotron {
  background-color: #1c1c1c;
}

.main {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  background-color: red;
}

.ruins {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background-color: orange;
}

.warrens {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background-color: yellow;
}

.weald {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background-color: green;
}

.cove {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background-color: blue;
}

.courtyard {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background-color: purple;
}
